.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #faad80;
}

.card {
  border-radius: 15px;
  background-color: white;
  min-width: 350px;
  min-height: 300px;
  border: outset;
}

h1 {
  background-color: #262a53;

  color: #fff;
  text-align: center;
  box-shadow: #faad80;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#incr {
  width: 70px;
  height: 70px;

  background-color: #262a53;
  color: #fff;
}

.buttonDiv {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#decr {
  width: 70px;
  height: 70px;
  background-color: #262a53;
  color: #fff;
}

#incr:hover {
  background-color: green;
  opacity: 0.5;
}

#decr:hover {
  background-color: Red;
  opacity: 0.8;
}

#text-display {
  background-color: red;
}
